html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

* {box-sizing: border-box;}

html {
  background: var(--color-background);
}

body {
  font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

:root {
  --color-thy: #C70A0C;
  --color-text: #101010;
  --color-shadow: rgba(8, 8, 8, 0.5);
  --color-shadowkutu: rgba(8, 8, 8, 0.2);
  --color-back: rgba(255, 255, 255, 0.5);
  --color-background: #EEE;
  --color-textshadow: #CCC;
}

#header {
  padding: 10px 0px 10px 0px;
  width: 100%;
  height:auto;
  padding-bottom:10px;
  padding-top:50px;
}

#header-text{
  font-size: 4rem;
  text-align: center;
  color:var(--color-text);
  font-weight: 600;
}

#header-textalt {
  padding-top: 7px;
  font-size: 1.5rem;
  text-align: center;
  color:var(--color-text);
}

#container {
  margin-left:auto;
  margin-right:auto;
  width: 1500px;
  height:100%;
}

#services {
margin-top:5px;
font-size:0.8rem;
width:60%;
margin-left:auto;
margin-right:auto;
font-style: oblique;
}

.liste-images {
  display:inline-block;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  display: none;
  color:var(--color-thy);
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 var(--color-textshadow), 1px -1px 0 var(--color-textshadow), -1px 1px 0 var(--color-textshadow), 1px 1px 0 var(--color-textshadow);
}

.image{  
  width: 100%;
  height: auto;
  border-radius:15px;
}

.content-kutu {
height:100%;
position: relative;
text-align: center;
margin:15px;
float: left;
width: 470px;
height: 264px;
}

.content-kutu image {
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
}

.content-kutu:hover .image {
  /* transform: scale(1.1); */
}

.content-kutu:hover .centered{
  display: block;
}

.kutu  {
background-color:  transparent;
box-shadow: 0px 2px 10px var(--color-shadowkutu);
border-radius: 3px;
padding: 10px;
position: sticky;
top: 0px;
display:none;
text-transform: uppercase;
color:var(--color-thy);
font-weight: 500;
}

#contact {
  text-align:center;
}

.contact-links{
  margin-right:5px;margin-left:5px; display:inline-block;
  filter: invert(0%) sepia(7%) saturate(233%) hue-rotate(316deg) brightness(0%) contrast(87%);
}

.header {
  margin-top: 10px; margin-bottom:20px;
}

.footer {
  padding-top: 20px;
  font-size: 12px;
  padding-bottom: 20px;;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--color-thy);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/* adaptive */
@media only screen and (max-width: 500px){

  #myBtn {
    font-size:12px;
  }

  .kutu {
    font-size:0.8rem;
    width:90%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    display:block;
  }

  #container {
    width: 90%;
  }
  .content-kutu {
    width:auto;
    height:auto;
    margin:0;
  }
  .image{  
    max-width:100%;
    max-height:100%;
    border-radius: 5px;
  }
  .centered{
    display:none;
  }
  .liste-images{
    background-color: white;
    border-radius: 10px;
  }
  .content-kutu:hover .centered{
    display: none;
  }
  .content-kutu:hover .image {
    transform: none;
  }
 }

@media only screen and (min-width: 501px) and (max-width: 1000px){

  #myBtn {
    font-size:12px;
  }

  .kutu {
    width:90%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    display:block;
  }

  #container {
    width: 90%;
  }
  .content-kutu {
    width:auto;
    height:auto;
    margin:0;
  }
  .image{  
    max-width:100%;
    max-height:100%;
    border-radius: 5px;
  }
  .centered{
    display:none;
  }
  .liste-images{
    background-color: white;
    border-radius: 10px;
  }
  .content-kutu:hover .centered{
    display: none;
  }
  .content-kutu:hover .image {
    transform: none;
  }
 }

 @media only screen and (min-width: 1001px) and (max-width: 1500px){

      #container {
      width: 1000px;
    }
 }