---
# default
---

<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
  <meta property="og:image" content="https://c-kilic.github.io/assets/tb.jpeg">
  <meta name="description" property="og:description" content="Caner Kılıç's Personal Site">
  <meta name="author" content="Caner Kılıç">
  <meta name="title" property="og:title" content="Caner Kılıç">
  <meta property="og:type" content="Personal Site">
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

  <div id="header">
    <p id="header-text">Welcome to Caner Kılıç's Portfolio!</p>
  </div>

  <div id="container">
    {{ content }}
  </div>

        <script>

            var mybutton = document.getElementById("myBtn");
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                mybutton.style.display = "block";
                document.getElementById("liste").style.top = "10px";
              } else {
                mybutton.style.display = "none";
                document.getElementById("liste").style.top = "50px";
              }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }

        </script>

</body>

</html>