---
# default
---

<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
  <meta property="og:image" content="https://c-kilic.github.io/assets/tb.png">
  <meta name="description" property="og:description" content="Caner Kılıç's Portfolio">
  <meta name="author" content="Caner Kılıç">
  <meta name="title" property="og:title" content="Caner Kılıç">
  <meta property="og:type" content="Portfolio">
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon-main/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon-main/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon-main/favicon-16x16.png">
  <link rel="manifest" href="/icon-main/site.webmanifest">
  <link rel="mask-icon" href="/icon-main/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="/icon-main/favicon.ico">
  <title>{{ page.title }}</title>
</head>

<body>

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

  <div id="header">
    <p id="header-text">Caner Kılıç</p>
    <p id="header-textalt">Mechanical Engineer</p>
  </div>

  <div id="contact" class="header">
    <a class="contact-links" href="https://www.linkedin.com/in/caner-kili%C3%A7-57118312b/" target="_blank"><img height="24"
      width="24" src="/assets/linkedin-org.svg"/></a>
    <a class="contact-links" href="mailto:canerkilic@protonmail.com" target="_blank"><img height="24" width="24"
        src="/assets/mail-org.svg"/></a>
  </div>

  <div id="container">
    {{ content }}
  </div>

  <div id="contact" class="footer">
    Site produced by <a class="contact-links" href="https://www.fatihozcan.dev" target="_blank">Fatih Mehmet Özcan</a>
  </div>

        <script>

            var mybutton = document.getElementById("myBtn");
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                window.scrollTo({
                top: 0,
                left: 0,
                behavior: 'smooth'
                });
            }

        </script>

</body>

</html>